@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap');

.wrapper {
  text-align: center;
  background-color: #659DBD;
  color: white;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5% 0 5%;
  font-size: calc(1px + 2vmin);
}

.logo {
  font-size: 2.5rem;
  font-family: 'Comic Neue', cursive;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

